footer li{
    float: left;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 10px;
}

footer{
    padding: 50px 0px 10px;
    color: black;
    background-color: white;
    background-color: #CCCCCC!important;
    box-shadow: 2px 5px 50px 2px #999 inset, -2px -5px 20px 3px #eee inset;
}

/*footer ul{
    float: right;
}
*/
.page-footer{
    color: black;
    background-color: #CCCCCC;
}

footer li:hover a,
footer li:hover i {
    color: white;
}

footer li:hover{
    background: rgba(48, 52, 51, 0.7);
    border: none
}

@media(min-width: 768px){
       footer ul{
        float: right;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  
  footer ul{
        text-align: center;
        width: 100%;
        margin: auto;
        padding-top: 20px;
        padding-left: 23%;
        padding-right: 23%;
        display: inline-block;
        float: none;
       /* padding: 10px;
        margin-left: 20px;*/
    }

    footer ul  li {
       display: inline-block;
       float: none;
    }
  
}