/* Main */
* {
  -webkit-box-sizing: border-box;
     -mox-box-sizing: border-box;
          box-sizing: border-box;
}

html  {
  line-height: 1.6;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

img {
  max-width: 100%;
}

a,
a:active,
a:focus,
a:visited,
a:hover{
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out;
     -moz-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
          color: black;
}

li{
  list-style: none;
}

.bold{
  font-weight: bold;
}

.font-50{
  font-size: 50px!important;
}

.font-32{
  font-size: 32px!important;
}

.font-18{
  font-size: 18px!important;
}

.font-22{
  font-size: 22px!important;
}

.font-14{
  font-size: 14px!important;
}

.yellow{
  color: #D8A235!important;
}

nav .nav-wrapper {
     background-color: white;
}


.news{
  margin-top: 100px;
}

.grad{
  background: url('../img/logoshape.png'),linear-gradient(to bottom left,#c4c4c4,#fff);
  background-position: 110% 130%;
  background-repeat: no-repeat;
  padding: 100px 0px;
}

@media(max-width: 968px){
  .grad{
    background-position: 120% 130%;
  }
}

@media(max-width: 768px){
  .grad{
    background-position: 100% 120%;
  }
}

.middle > div > div{
  padding: 0px 40px;
}

.mid-title{
  padding: 35px 0px 15px;
}

.middle .yellow{
  margin: 30px 0px 50px;
}

.middle img,
.video-container,
.news > div > div:last-child{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.news > div > div:nth-child(2){
  display: flex;
}

.news > div > div:last-child{
  text-align: left;
  padding: 0px 30px;
}

.news .font-32{
  margin-bottom: 30px;
}




