.body{
    overflow-x:hidden !important;
}

.first{
    color:#D8A235;
    text-transform: uppercase;
}

.head{
    font-size: 24px;
    text-align: center;
}

.hero{
    margin-top: 10%;
    margin-bottom: 5%;
}

.paragraph{
    text-align: center;
    font-size: 18px;
    color:rgba(48, 52, 51, 0.57);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 3%;
}

.tail{
    font-size: 24px;
    text-align: center;
    margin-top: 10%;
}

.para{
    text-align: justify;
    font-size: 18px;
    color:rgba(48, 52, 51, 0.57);
    padding-left: 20%;
    padding-right: 20%;
}

.lol{
    color: #D8A235;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 20%;
}

.qaz{
    background-color: #FCFCFC;
}

.foot{
    margin-top: 5%;
    text-align: center;
    font-size: 24px;
}

.wola{
    padding-left: 8%;
    padding-right: 10%;
    margin-top: 5%;
}

.card-img-top{
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.name{
    font-size: 14px;
    text-align: center;
}

.boxes{
    padding-left: 10%;
    padding-right: 10%;
}

.qwerty{
    margin-bottom: 2%;
}

.qwertz{
    margin-bottom: 2%;
}


 @media (min-width: 340px) and (max-width: 480px) {
  
        .para{
            font-size: 16px;
        }

        .paragraph{
            font-size: 16px;
            text-align: justify;
        }
}